/* Root Div */
*, *::after, *::before{
  margin: 0; padding: 0; box-sizing: border-box;
}

#root {
  font-family: "Open Sans", sans-serif; font-optical-sizing: auto;
  display: flex; flex-direction: column; align-items: center;
  width: 100vw; min-height: 100vh;
  background-color: var(--primary);
  margin: 0; padding: 0;
  color: var(--white);


  /* Local Variables */
  --wave-height: 150px;

  --layer-plus-1: 5;
  --layer-minus-1: -5;
}

.container {
  padding-inline: var(--padding) var(--padding);
}

.text-center{
  text-align: center;
}

/* Tool Tip */

.tooltip {
  position: relative; display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden; width: 120px;
  background-color: var(--black); color: var(--white);
  text-align: center; padding: 5px 0;
  position: absolute; z-index: 1;
  border-radius: 6px;
}
.tooltip .tooltiptext {
  width: 120px; margin-left: -60px; margin-top: var(--margin);
  top: 100%; left: 50%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.grid {
  display: grid !important; gap: 0; 
  width: 100%;
}

.grid {
  grid-template-columns: 1fr;
}

@media (min-width: 600px){
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.grid-item-div {
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  position: relative; width: 100%;
}
/* Header */

.h-div {
  position: fixed; top: 0; z-index: var(--layer-plus-1);
  padding: var(--padding);
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  width: 100%;
}

.h-item-div{
  width: 100%;
  margin-bottom: var(--margin);
}

.h-hero {
  display: flex; justify-content: space-between; align-items: center;
  width: 100%;
}

.h-hero button {
  display: flex; justify-content: center; align-items: center;
  height: 100%; font-size: 1rem;
  border: 1px solid var(--white);
  padding: var(--padding);
  font-weight: var(--bold);
}

.h-hero button:hover {
  background-color: var(--white);
  color: var(--primary);
}

.h-logo {
  height: 62px;
}

.h-menu {
  display: grid; grid-template-columns: repeat(3, 3fr);
}

.h-menu-item, .h-menu-item a{
  display: flex; justify-content: center; align-items: center;
  font-size: 0.85rem; font-weight: 600;
}


/* .h-menu-item a{
  transition: all 100ms ease-in; width: fit-content;
} */


/* Footer */

.f-div{
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  border-top: 1px solid var(--white);
  position: absolute; top: 100%; background-color: var(--primary-dark);
  padding: var(--padding);
  width: 100%; 

}

.f-socials-list {
  display: flex; margin-bottom: var(--margin);
}

.f-logo-div img {
  height: 62px; width: auto;
}

.f-info-div {
  display: flex; margin-top: var(--margin);
}
.f-info {
  border-left: 1px solid var(--white);
  font-size: 0.85rem;
}

/* Page Alignment */
main {
  width: 100%; min-height: 100vh;
  position: relative;
}

.hero{
  position: absolute; top: 0;
  min-height: 880px; width: 100%;
}

.hero-div {
  display: flex; justify-content: center; align-items: center; flex-direction: column;
  margin-top: var(--wave-height);
  background-color: var(--primary-light);

  width: 95%; height: 80vh;
  padding: var(--padding);
}

.hero-waves {
  position: absolute; top: 0; left: 0; z-index: -1;
  overflow: hidden; line-height: 0;
  width: 100%;
}

.hero-waves svg {
  width: calc(100% + 1.3px); height: var(--wave-height);
  position: relative; display: block;
  transform: rotateY(180deg);
}

.hero-waves .shape-fill {
  fill: var(--primary-dark);
}

@keyframes blob {
  0%, 100% {
    border-radius: 60% 20% 40% 70%;
  }
  50% {
    border-radius: 30% 60% 70% 20%;
  }
}

.hero-img {
  width: 100%;
  mask: url("../assets/logo-mask.svg") center/contain  no-repeat,
  linear-gradient(#000 0 0);
  mask-size: 80% 80%; mask-composite: exclude;

  animation: blob 1s ease-in-out 0ms infinite;
}



.hero-text {
  color: var(--black);
}
